@media screen and (max-width:576px) {

    nav,
    ul {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        gap: 15px;
    }

    .banner-picture {
        width: 95%;
        padding-left: 0px;
        background-size: cover;
        order: 1;
    }

    .banner-picture img {
        width: 95%;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner-content {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .sponsore {
        flex-wrap: wrap;
        border: none;
        align-items: center;
        justify-content: center;
        gap: auto;
    }

    .cards-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .see-more {
        position: absolute;
        right: 18%;
        margin-top: 10px;
    }

}

@media screen and (min-width:576px) and (max-width:960px) {

    .banner,
    nav {
        flex-direction: column;
    }

    .banner-content {
        order: 2;
        width: 100%;
        padding: 5px 20px;
        text-align: center;
    }

    .banner-picture {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .sponsore {
        flex-wrap: wrap;
        border: none;
        gap: 35px;
    }

}